{% load blog_tags %}
{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<title>{% block title %}{% endblock %}</title>
	<link href="{% static "css/blog.css" %}" rel="stylesheet">
</head>
<body>
	<div id="content">
		{% block content %}
		{% endblock %}
	</div>
	<div id="sidebar">
		<h2>My blog</h2>
		<p>这是我的博客.目前为止，我已经写了 {% total_posts %} 篇博客.</p>
		<p><a href="{% url "blog:post_feed" %}">订阅我的RSS feed</a></p>
		<h3>最新的博客</h3>
		{% show_latest_posts 3 %}
		<h3>最多评论博客</h3>
		{% get_most_commented_posts as most_commented_posts %}
		<ul>
			{% for post in most_commented_posts %}
				<li><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></li>
			{% endfor %}
		</ul>
	</div>
</body>
</html>


